a:focus,a:hover{text-decoration:none}
.block-slider{border:none;width:100%;position:relative}
.block-slider ul li{list-style:none}
.block-slider .bx-next,.block-slider .bx-prev{width:39px;height:91px;text-align:center;font-size:6em;position:absolute;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);line-height:50px;-moz-transition:all .45s ease;-webkit-transition:all .45s ease;-o-transition:all .45s ease;-ms-transition:all .45s ease;transition:all .45s ease;display:block;color:#fff;z-index:999;opacity:.5}
.block-slider img{width:100%;height:auto}
.block-slider .bx-next i,.block-slider .bx-prev i{display:none}
.block-slider .bx-prev{left:3%;padding-right:3px;background:url(../images/carousel-control-left.png) no-repeat}
.block-slider .bx-next{right:3%;padding-left:3px;background:url(../images/carousel-control-right.png) no-repeat}
.block-slider:hover .bx-prev{left:4%;opacity:1}
.block-slider:hover .bx-next{right:4%;opacity:1}
.block-slider .bx-next:hover,.block-slider .bx-prev:hover{opacity:1}
.block-slider .bx-pager{position:absolute;text-align:center;bottom:-43px;left:0;right:0;margin:0 auto}
.block-slider .bx-pager-item{background:0 0;font-size:0;display:inline-block;margin:0 5px}
.block-slider .bx-pager-item a{width:11px;height:11px;display:block;background:#454545; border-radius:50%}
.block-slider .bx-pager-item a.active{background:#fbc93b}
.block-slider .caption-group{position:absolute;bottom:10%;right:0;color:#fff;background:rgba(0,0,0,.56);padding:10px 20px}
.block-slider .caption-group .title{margin:0}
.block-slider .caption-group .subtitle{margin:0;margin-top:5px}
.block-slider .caption-group .button-radius{margin-top:27px}
.block-slider .caption-group .primary{color:#1bd172}
.block-slider .caption-group .caption{display:block!important}
@media (max-width:991.98px){.bx-controls-direction{display:none}

}
@media (max-width:767.98px){.block-slider .bx-pager{display: none;}
}